html,
body {
  margin: 0;
  padding: 0;
  /*
      background-image: url("https://images.unsplash.com/photo-1448518340475-e3c680e9b4be?")
      */
}

body {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* 
body resource: https://css-tricks.com/perfect-full-page-background-image/#awesome-easy-progressive-css3-way
*/
