* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-shadow: 0px 0px 20px #302f2f;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  /* 
body resource: https://css-tricks.com/perfect-full-page-background-image/#awesome-easy-progressive-css3-way
  */
}

main {
  padding: 0.7em;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.top-display {
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;
}

h1.time {
  text-align: center;
}

#crypto {
  font-size: 1.3rem;
}

#crypto#top-display > span {
  margin-left: 0.5em;
  margin-bottom: 0.5em;
}

#crypto > p {
  margin: 0;
}
